* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.img-cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}
