<template>
    <div id="active-page" :style="{height: bodyHeight}">
        <div class="active-content" :class="{'act-err': !result}">
            <div class="active-status">
                <template v-if="!result">
                    <h4>很遗憾</h4>
                    <h2>卡片激活失败</h2>
                    <div class="fail-reason">
                        <h5>可能由以下原因导致</h5>
                        <ul>
                            <li>1、没有购买我们的正品商品，请前往购买；淘宝店铺搜索: <span>洛米艺术启蒙；</span></li>
                            <li>2、如果您已购买，不能激活，请与我们联系官方微信号：tuzijiangcc</li>
                        </ul>
                    </div>
                </template>
                <template v-if="result">
                    <h4>恭喜您</h4>
                    <h2>卡片激活成功</h2>
                </template>
            </div>
            <div class="go-home" @click="goHome" v-show="result">逛首页</div>
            <div class="go-play" @click="goPlay" v-show="result">看动画做跟读</div>
        </div>
    </div>
</template>

<script>

    import Server from '../services/index';
    //import authorization from "../commons/authorization";

    export default {
        name: 'Active',
        data() {
            return {
                bodyHeight: '',
                result: false,
            }
        },
        mounted() {

            let urlParams = this.$route.params;

            this.bodyHeight = document.documentElement.clientHeight + "px";

            if (!!urlParams.id || urlParams.id == 0) {

                this.result = true;
            } else {

                this.result = false;
            }
        },
        updated() {
            let urlParams = this.$route.params;

            this.bodyHeight = document.documentElement.clientHeight + "px";

            if (!!urlParams.id || urlParams.id == 0) {

                this.result = true;
            } else {

                this.result = false;
            }
        },
        methods: {
            goHome() {
                window.location.href="http://www.luomi.shop/#/index/";
            },
            goPlay() {
                let urlParams = this.$route.params;
                window.location.href="http://www.luomi.shop/#/play/" + urlParams.id + '/' + urlParams.lessonId;
            }
        }/*,
        beforeRouteEnter(to, from, next) {
            let urlParams = to.params;
            next(vm => {
                if (!!urlParams.id || urlParams.id == 0) {
                    vm.result = true;
                } else {
                    vm.result = false;
                }
            });
        }*/
    }
</script>

<style scoped>
    #active-page {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(136deg, #5418D1 0%, #6AE9D2 100%);
    }
    .active-content {
        border: 1px solid transparent;
        position: relative;
        width: 680px;
        height: 860px;
        background: #f9f9f9;
        margin: 188px auto 0 auto;
        border-radius: 20px;

        &:after {
            content: '';
            display: block;
            width: 254px;
            height: 254px;
            position: absolute;
            top: -127px;
            left: 50%;
            background: url('../assets/images/s.png') 0 0 no-repeat;
            background-size: 254px 254px;
            margin-left: -127px;
        }
        &.act-err {
            &:after {
                background: url('../assets/images/e.png') 0 0 no-repeat;
                background-size: 254px 254px;
            }
        }
    }
    .active-status {
        margin-top: 150px;
        text-align: center;

        h4 {
            font-family: "PingFangSC-Light";
            font-size: 32px;
            color: #484848;
            font-weight: normal;
            letter-spacing: 0;
        }
        h2 {
            font-family: "PingFangSC-Regular";
            font-size: 52px;
            color: #484848;
            width: 100%;
            font-weight: normal;
            text-align: center;
            letter-spacing: 0;
        }
    }
    .fail-reason {
        font-weight: 100;
        margin-top: 180px;
        font-weight: normal;

        h5 {
            font-family: PingFangSC-Light;
            font-size: 24px;
            color: #909090;
            letter-spacing: 0;
            position: relative;
            margin-bottom: 25px;
            font-weight: 100;
            &:after, &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                width: 150px;
                height: 1px;
                border-top: 1px solid #d8d8d8;
            }
            &:after {
                right: 50px;
            }
            &:before {
                left: 50px;
            }
        }

        li {
            text-align: left;
            padding: 0 76px;
            font-family: PingFangSC-Light;
            font-size: 28px;
            color: #818181;
            letter-spacing: 0;
            font-weight: 100;
            line-height: 1.8;
            margin-bottom: 20px;

            span {
                color: #2d73c4;
            }
        }
    }
    .go-home, .go-play {
        border: 0 solid #A6CCE8;
        border-radius: 4px;
        font-family: "PingFangSC-Light";
        font-size: 32px;
        color: #266BA9;
        letter-spacing: 0;
        position: absolute;
        bottom: 180px;
        left: 50%;
        margin-left: -310px;
        height: 96px;
        width: 620px;
        line-height: 96px;
        text-align: center;
        border: 1px solid #A6CCE8;
        display: block;
        font-weight: 100;
    }
    .go-play {
        border: none;
        background-image: linear-gradient(90deg, #259FF3 4%, #47B0FF 100%);
        border-radius: 4px;
        bottom: 64px;
        color: #fff;
    }
</style>
