<template>
    <div id="subject-page">
        <div id="scroll-container">
            <div id="banner" @click="list">
                <img :src="subjectCover" alt="">
            </div>
            <div id="subject-menu">
                <ul>
                    <li v-for="item in subjectMenu" :id="item.id"
                        @click="list(item.id)">
                        <div class="img-wrapper">
                            <img class="img-cover" :src="item.small_pic" alt="">
                            <span class="play-icon"></span>
                        </div>
                        <h3>{{item.title}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    import Server from '../services/index';
    import {Util} from '../commons/util';
    import iScroll from '../assets/js/iscroll-lite';

    export default {
        name: 'Index',
        data() {
            return {
                subjectCover: "",
                subjectMenu: []
            }
        },
        methods: {

            list (id) {

                this.$router.push({
                    name: 'List',
                    params: {
                        id: id
                    }
                });
            }
        },
        mounted() {
        },
        beforeRouteEnter(to, from, next) {

            let urlParams = to.params;

            Util.auth(() => {
                Server.queryCourseList(urlParams.id).then(data => {
                    next(vm => {

                        let _this = vm;

                        _this.subjectCover = data.category_img;

                        _this.subjectMenu = data.list;

                    });
                });
            });
        },
    }
</script>

<style scoped>
    #subject-page {
        width: 100%;
        background: #f6f5fa;
    }

    #banner {
        width: 100%;
        overflow: hidden;
        height: auto;
        margin-bottom: 26px;

        img {
            width: 100%;
        }
    }

    #subject-menu {
        background: #f6f5fa;
        padding: 0 20px;
        ul {
            height: auto;
            overflow: hidden;

            li {
                width: 352px;
                height: auto;
                float: left;
                position: relative;
                margin-bottom: 54px;

                &:nth-of-type(2n + 1) {
                    margin-right: 6px;
                }

                .img-wrapper {
                    height: 200px;
                    position: relative;
                }

                h3 {
                    margin-top: 10px;
                    font-size: 26px;
                    color: #282828;
                    padding-left: 20px;
                    font-weight: normal;
                }

                span.play-icon {
                    bottom: 12px;
                    left: 20px;
                    position: absolute;
                    transform: scale(.5);
                    transform-origin: left bottom;
                    content: '';
                    display: block;
                    width: 52px;
                    height: 52px;
                    background: url("../assets/images/play-small-icon.png") 50% 50% no-repeat;
                    background-size: 52px 52px;

                }
            }
        }
    }
</style>
