<template>
    <div id="index-page">
        <div id="scroll-container">
            <div id="banner" class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" v-for="item in bannerList"
                        @click="bannerGo(item.href)">
                        <img class="img-cover" :src="item.image" alt="">
                        <span></span>
                    </li>
                </ul>
            </div>
            <div id="hot">
                <h2 class="video-header">{{hotList.name}} <span @click="subject(hotList.id)">{{hotList.description}}</span></h2>
                <ul>
                    <li v-for="item in hotList.items" :id="item.id" @click="list(item.id)">
                        <div class="img-wrapper">
                            <img class="img-cover" :src="item.small_pic" alt="">
                            <span class="play-icon">{{item.hit_num}}</span>
                        </div>
                        <h3>{{item.title}}</h3>
                    </li>
                </ul>
            </div>
            <div id="classics">
                <h2 class="video-header">{{classicsList.name}} <span @click="subject(classicsList.id)">{{classicsList.description}}</span></h2>
                <div id="classics-swiper" class="swiper-container">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide" v-for="item in classicsList.items" :id="item.id"
                            @click="list(item.id)">
                            <div class="img-wrapper">
                                <img class="img-cover" :src="item.small_pic" alt="">
                                <span class="play-icon">{{item.hit_num}}</span>
                            </div>
                            <h3>{{item.title}}</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <NavMenu current='index' />
    </div>
</template>

<script>

    import NavMenu from '@/components/commons/Nav';
    import Server  from '../services/index';
    import Swiper  from '../assets/js/swiper.custom';
    import {Util}  from '../commons/util';
    import iScroll from '../assets/js/iscroll-lite';

    export default {
        name: 'Index',
        data() {
            return {
                bannerList: [],
                hotList: {
                    id: "",
                    name: "",
                    description: "",
                    items: []
                },
                classicsList: {
                    id: "",
                    name: "",
                    description: "",
                    items: []
                }
            }
        },
        components: {
            NavMenu
        },
        mounted() {

            setTimeout(() => {
                let bannerSwiper = new Swiper ('#banner', {
                    loop: true,
                    speed: 500,
                    autoplayDisableOnInteraction: false,
                    autoplay: 3000
                });

                let hotSwiper = new Swiper ('#classics-swiper', {

                    slidesPerView: "auto"
                })
            }, 10);
        },
        beforeRouteEnter(to, from, next) {

            Util.auth(() => {

                Server.queryIndexData().then(data => {

                    next(vm => {

                        let _this = vm;

                        _this.bannerList = data.slides;
                        _this.hotList.name = data.hots.name;
                        _this.hotList.description = data.hots.description;
                        _this.hotList.items = data.hots.courses;
                        _this.hotList.id = data.hots.id;

                        _this.classicsList.name = data.movies.name;
                        _this.classicsList.description = data.movies.description;
                        _this.classicsList.items = data.movies.courses;
                        _this.classicsList.id = data.movies.id;
                    });
                });
            });
        },
        methods: {

            bannerGo (url) {

                window.location.href = url;
            },

            //专题页
            subject (id) {

                /*this.$router.push({
                    name: 'Course',
                    params: {
                        id: id
                    }
                });*/
            },

            // 课程页
            list (id) {

                this.$router.push({
                    name: 'List',
                    params: {
                        id: id
                    }
                });
            }
        }
    }
</script>

<style scoped>
    #index-page {
        width: 100%;
        background: #F6F5FA;

        #scroll-container {
            /*width: 100%;
            /*height: 100%;*/
            /*overflow-y: scroll;*/
            /*-webkit-overflow-scrolling: touch;*/
            /*box-sizing: border-box;*/
            border-bottom: 100px solid #fff;
        }
    }

    #banner {
        width: 100%;
        height: 320px;

        ul {

            li {
                display: block;
                float: left;
                width: 750px;
                position: relative;
                height: 320px;

                span {
                    display: block;
                    width: 62px;
                    height: 62px;
                    position: absolute;
                    bottom: 50px;
                    left: 50px;
                    background: url("../assets/images/play-icon.png") 50% 50% no-repeat;
                    background-size: 62px 62px;
                }
            }
        }
    }

    .video-header {
        font-weight: normal;
        border-top: 15px solid #fff;
        height: 87px;
        line-height: 87px;
        background: #ffffff;
        font-size: 32px;
        padding-left: 44px;
        color: #282828;

        span {
            font-size: 24px;
            color: #646464;
            padding-right: 30px;
            float: right;
            font-weight: normal;
        }
    }

    span.play-icon {
        bottom: 12px;
        left: 20px;
        position: absolute;
        font-size: 44px;
        color: #FFFFFF;
        transform: scale(.5);
        font-weight: lighter;
        transform-origin: left bottom;
        padding-left: 70px;

        &:before {
            content: '';
            display: block;
            width: 52px;
            height: 52px;
            position: absolute;
            top: 50%;
            margin-top: -26px;
            left: 0;
            background: url("../assets/images/play-small-icon.png") 50% 50% no-repeat;
            background-size: 52px 52px;
        }
    }

    #hot {
        background: #fff;
        ul {
            height: auto;
            overflow: hidden;

            li {
                width: 372px;
                height: auto;
                float: left;
                box-sizing: border-box;
                position: relative;
                margin-bottom: 54px;

                &:nth-of-type(2n + 1) {
                    margin-right: 6px;
                }

                .img-wrapper {
                    height: 200px;
                    position: relative;
                }

                h3 {
                    margin-top: 10px;
                    font-size: 26px;
                    color: #282828;
                    padding-left: 20px;
                    font-weight: normal;
                }
            }
        }
    }
    #classics {
        margin-top: 20px;
        width: 100%;
        background: #fff;

        .swiper-container {
            width: 100%;
            height: auto;
        }

        ul {

            li.swiper-slide {
                width: 332px;
                float: left;
                margin-right: 6px;
                margin-bottom: 54px;

                &:nth-last-of-type(1) {
                    margin-right: 0;
                }

                .img-wrapper {
                    height: 200px;
                    position: relative;
                }
                h3 {
                    margin-top: 10px;
                    font-size: 26px;
                    color: #282828;
                    padding-left: 20px;
                    font-weight: normal;
                }
            }
        }
    }
</style>
