<template>
    <div id="list-page">
        <div id="video-wrapper">
            <video controls x-webkit-airplay x5-video-player-type="h5"
                v-if="currentVideo.type"
                id="my-player"
                class="video-js vjs-fluid"
                preload="auto"
                :poster="currentVideo.poster">
                <source :src="currentVideo.video" :type="currentVideo.type"></source>
            </video>
            <span class="play-btn" @click="play" v-show="!isPlay"></span>
        </div>
        <div id="scroll-container">
            <div id="video-introduce">
                <h3>{{title}}</h3>
                <div>启蒙英语·全{{lesson_num}}集·{{hit_num}}次播放</div>
                <i :class="{active: brief}" @click="switchBrief(true)">简介</i>
            </div>
            <div id="brief" :class="{active: brief}" :style="{height: briefHeight}">
                <!-- <div class="brief-header">
                    <div class="header-top">
                        <h2>{{title}}</h2>
                        <div class="res-star">
                            <div class="star-rating">
                                <div class="star-rating-top" :style="{width: rightPer}">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                                <div class="star-rating-bottom">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                            </div>
                        </div>
                        <span class="brief-close" @click="switchBrief(false)"></span>
                    </div>
                    <div class="header-tips">
                        启蒙英语·全{{lesson_num}}集·{{hit_num}}次播放
                    </div>
                </div> -->
                <div class="brief-content">
                    <!-- <h2>{{title}}</h2> -->
                    <h2>剧情解析</h2>
                    <div class="raw-div" v-html="about"></div>
                </div>
            </div>
            <div id="select-video">
                <h3>选集 <span>第{{num}}集／共{{lesson_num}}集</span></h3>
                <ul>
                    <li v-for="(item, index) in videoList.items"
                        :class="{active: index == videoList.select}"
                        @click="selectVideo(index)">
                        <template v-if="index != videoList.select">
                            {{index + 1}}
                        </template>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="hasRepeat" class="go-read" @click="goRead">开启跟读之旅</div>
    </div>
</template>

<script>

    import Server from '../services/index';
    import {Util} from '../commons/util';
    import iScroll from '../assets/js/iscroll-lite';

    let player;

    export default {
        name: 'Play',
        data () {
            return {
                briefHeight: "",
                about: "",
                hit_num: "",
                num: "1",
                lesson_num: "",
                title: "",
                goReadId: "", //跟读id
                currentVideo: {
                    poster: "",
                    video: "",
                    type: ""
                },
                isPlay: false,
                videoList: {
                    select: "0",
                    items: []
                },
                rightPer: "",
                brief: false,
                hasRepeat: false
            }
        },
        components: {
        },
        // 生命周期钩子
        mounted () {

            let _this = this,
                urlParams = Util.queryURLParams();

            setTimeout(() => {

                player = videojs('my-player', {
                    fluid: true,
                    autoplay: false,
                    playsinline: false
                    //nativeControlsForTouch: false,
                    //controls: true
                });

                player.on("play", function () {

                    _this.isPlay = true;
                });
                player.on("pause", function () {

                    _this.isPlay = false;
                });

            }, 100);
        },
        methods: {
            selectVideo(id) {
                this.videoList.select = id;
                this.num = id + 1;

                let current = this.videoList.items[id];
                this.goReadId = current.repeat_id;

                player.src(current.media.file_path);
                //player.poster(current.thumbnail);
                player.load();
                player.play();
            },
            switchBrief() {
                this.brief = !this.brief;

                if (this.brief) {
                    this.briefHeight = document.documentElement.clientHeight - document.getElementById('video-wrapper').offsetHeight + "px";
                } else {
                    this.briefHeight = 0;
                }
            },
            play () {

                player.play();
                this.isPlay = true;
            },
            goRead() {
                window.location.href="http://www.luomi.shop/#/read/" + this.goReadId;
            }
        },
        beforeRouteEnter(to, from, next) {

            let urlParams = to.params;

            Util.auth(() => {
                Server.queryCourse(urlParams.id).then(data => {

                    next(vm => {

                        let _this = vm;

                        _this.title = data.title;
                        _this.about = data.about;
                        _this.hit_num = data.hit_num;
                        _this.lesson_num = data.lesson_num;
                        _this.rightPer = data.rank / 5 * 100 + "%";

                        if (data.lessons.length === 0) {
                            return;
                        }

                        let currentLenson = data.lessons[0].media;
                        _this.currentVideo.poster = data.middle_pic;
                        _this.currentVideo.video = currentLenson.file_path;
                        _this.currentVideo.type = "video/mp4";

                        _this.videoList.items = data.lessons;
                        _this.goReadId = data.lessons[0].repeat_id;

                        if (urlParams.id == '8' || urlParams.id == '9') {
                            _this.hasRepeat = true;
                        }

                    });
                });
            });
        },
        beforeRouteLeave(to, from, next) {
            //setTimeout(() => {
                player.dispose();
            //}, 2000);
            next(vm => {
            });
        }
    }
</script>

<style scoped>

    #list-page {
        width: 100%;
        background: #fff;
        padding-bottom: 150px;

        #scroll-container {
            /*height: 100%;*/
            /*box-sizing: border-box;*/
            /*-webkit-overflow-scrolling: touch;*/
            border-top: 420px solid #fff;
        }
    }

    #video-introduce {
        position: relative;
        padding: 36px 40px 42px 40px;

        h3 {
            font-size: 32px;
            color: #282828;
            margin-bottom: 10px;
        }
        div, i {
            font-size: 24px;
            color: #909090;
            font-style: normal;
        }

        i {
            position: absolute;
            right: 40px;
            top: 50%;
            padding-right: 20px;
            margin-top: -12px;

            &:after {
                content: '';
                display: inline-block;
                background: url("../assets/images/arrow-2.png") no-repeat;
                width: 14px;
                height: 26px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -13px;
                background-size: 14px 26px;
            }

            &.active {
                &:after {
                    transform: rotate(90deg);
                };
            }
        }
    }

    #select-video {
        position: relative;
        overflow: hidden;
        background: #fff;
        &:before {
            content: '';
            display: block;
            width: 400%;
            height: 1px;
            border: 1px solid #E6E6E6;
            background: url("../assets/images/line.gif");
            position: absolute;
            top: 0;
            left: 36px;
            transform: scale(.3);
            transform-origin: left center;
        }

        h3 {
            margin: 0 36px;
            font-size: 30px;
            color: #161616;
            padding: 29px 0 24px 0;

            span {
                font-size: 24px;
                color: #989898;
                float: right;
                font-weight: lighter;
            }
        }

        ul {
            height: auto;
            overflow: hidden;
            margin: 0 25px;
        }

        li {
            display: block;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            background: #f5f7f9;
            font-size: 30px;
            color: #161616;
            float: left;
            position: relative;
            border-radius: 10px;
            margin: 0 10px 20px 10px;

            &.active:after {
                 display: block;
                 content: '';
                 width: 0;
                 height: 0;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 margin-top: -15px;
                 margin-left: -10px;
                 border-top: 15px solid transparent;
                 border-left: 20px solid #2EA3F6;
                 border-bottom: 15px solid transparent;
            }
        }
    }

    #brief {
        width: 100%;
        height: 0;
        z-index: 1;
        background: #fff;
        overflow: hidden;
        position: relative;
        transition: all .5s cubic-bezier(.55, 0, .1, 1);
        &.active {
             height: auto;
        }

        &:before {
            content: '';
            display: block;
            width: 400%;
            height: 1px;
            border: 1px solid #E6E6E6;
            background: url("../assets/images/line.gif");
            position: absolute;
            top: 0;
            left: 36px;
            transform: scale(.3);
            transform-origin: left center;
        }

        .brief-header {
            box-sizing: border-box;
            padding-top: 40px;
            margin-left: 44px;
            padding-right: 44px;
            position: relative;
            overflow: hidden;
            &:before {
                content: '';
                display: block;
                width: 400%;
                height: 1px;
                border: 1px solid #E6E6E6;
                background: url("../assets/images/line.gif");
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(.3);
                transform-origin: left center;
            }

            .header-top {
                position: relative;
                overflow: hidden;
                /*height: 70px;
                line-height: 70px;*/
            }

            h2 {
                font-size: 28px;
                color: #282828;
                float: left;
            }
            .res-star {
                margin-left: 15px;
                overflow: hidden;
                display: block;
                float: left;
            }
            .header-tips {
                font-size: 24px;
                color: #909090;
            }
            .brief-close {
                top: 50%;
                right: 0;
                position: absolute;
                display: block;
                background: url("../assets/images/arrow.png") no-repeat;
                width: 28px;
                height: 16px;
                margin-top: -8px;
                background-size: 28px 16px;
            }
        }
        .brief-content {
            margin-top: 25px;
            padding: 0 44px;
            padding-bottom: 50px;

            h2 {
                font-size: 28px;
                color: #282828;
                margin-bottom: 26px;
            }

            div.raw-div {
                font-size: 28px;
                color: #333333;
                line-height: 48px;

                div {
                    background: #000;
                    margin-bottom: 50px;
                }
            }
        }
    }
    .go-read {
        width: 100%;
        height: 108px;
        line-height: 108px;
        position: fixed;
        left: 0;
        bottom: 0;
        background-image:linear-gradient(150deg, #259FF3, #47B0FF);
        font-family: "PingFangSC-Regular";
        font-size: 36px;
        color: #FFFFFF;
        z-index: 100;
        text-align: center;
    }

    .star-rating {
        unicode-bidi: bidi-override;
        color: #ddd;
        font-size: 0;
        height: 54px;
        margin: 0 auto;
        position: relative;
        display: table;
        padding: 0;
    }

    .star-rating span {
        padding: 2px;
        font-size: 28px;
    }

    .star-rating-top {
        color: #FF7000;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .star-rating-bottom {
        padding: 0;
        display: block;
        z-index: 0;
    }
</style>
