<template>
    <div id="me-page" :style="{height: bodyHeight}">
      <span class="me-icon"></span>
      <NavMenu current='me' />
    </div>
</template>

<script>

    import NavMenu from '@/components/commons/Nav';
    export default {
        name: 'Me',
        data() {
            return {
              bodyHeight: '',
            }
        },
        components: {
            NavMenu
        },
        mounted() {
          let _this = this;

            _this.bodyHeight = document.documentElement.clientHeight + "px";
        },
        methods: {

        }
    }
</script>

<style scoped>
#me-page {
  width: 100%;
  position: relative;
  background: #fff;
}
.me-icon {
  background: url("../assets/images/nuomi.png") 0 0 no-repeat;
  width: 355px;
  height: 428px;
  background-size: 355px 428px;
  position: absolute;
  left: 50%;
  margin-left: -177px;
  top: 50%;
  margin-top: -314px;
}
</style>
