<template>
    <div id="play-page" :style="{height: bodyHeight}">
        <div id="video-wrapper">
            <video controls x-webkit-airplay x-webkit-airplay="true" x5-video-player-type="h5" webkit-playsinline playsinline
                v-if="videoList.items.length > 0"
                id="index-player" class="video-js vjs-fluid"
                preload="auto"
                :poster="currentVideo.poster">
                <source :src="currentVideo.videoSrc" type="video/mp4"></source>
            </video>
        </div>
        <div id="operate-wrapper">
            <div id="play-operate">
                <div class="play-menu" @click="showMenu"></div>
                <div class="play-title">{{title}}</div>
                <div class="play-test" @click="test"></div>
            </div>

            <span class="play-btn" @click="play"
                  :class="{'play-pause': btnStatus === 'play'}"></span>


            <!--menu-->
            <div id="menu-list" :class="{active: menu.active}">
                <h2>{{videoList.menu}}·{{videoList.videoName}}<span @click="hideMenu"></span></h2>
                <ul>
                    <li v-for="(item, index) in videoList.items"
                        :class="{active: item.id == videoList.select}"
                        @click="selectVideo(item.id, item.media.file_path)">
                        <span>
                            <template v-if="item.id != videoList.select">
                                {{index + 1}}.
                            </template>
                        </span>
                        <h5>{{item.title}}</h5>

                        <CircleBar :percent="item.watchPercent" />
                    </li>
                </ul>
            </div>
        </div>
        <NavMenu current='play' />
        <div v-if="hasRepeat" id="read" @click="goRead"></div>
    </div>
</template>

<script>

    import NavMenu from '@/components/commons/Nav';
    import CircleBar from '@/components/commons/Circle';
    import Server from '../services/index';
    import {Util} from '../commons/util';
    import _ from 'lodash';

    let player,
        t; //计时器

    export default {
        name: 'Play',
        data () {
            return {
                bodyHeight: '',
                title: "",
                menu: {
                    active: false
                },
                currentVideo: {
                    poster: "",
                    videoSrc: ""
                },
                videoList: {
                    menu: "",
                    videoName: "",
                    select: "99",
                    items: []
                },
                isPlay: false,
                btnStatus: "pause",
                exerciseId: "", //练习题id
                goReadId: "", //跟读id
                history: {
                    courseId: "",
                    lessonId: "",
                    watchTime: "",
                    totalTime: ""
                },
                hasRepeat: false
            }
        },
        components: {
            NavMenu,
            CircleBar
        },
        // 生命周期钩子
        mounted () {

            let _this = this;

            _this.bodyHeight = document.documentElement.clientHeight + "px";

            setTimeout(() => {
                player = videojs('index-player', {
                    fluid: true,
                    autoplay: false,
                    playsinline: true
                    //nativeControlsForTouch: true,
                    //controls: false
                });

                player.on("play", function () {

                    _this.btnStatus = "play";
                    _this.isPlay = true;
                });
                player.on("pause", function () {

                    _this.btnStatus = "pause";
                    _this.isPlay = false;
                });

                player.on("timeupdate", () => {

                    _this.history.watchTime = player.currentTime();
                });

                player.on("loadeddata", () => {

                    //alert('观看记录已加载' + _this.history.watchTime);

                    if (typeof _this.history.watchTime !== 'undefined') {
                        player.currentTime(_this.history.watchTime);
                    }

                    _this.btnStatus = "play";
                    player.play();
                });
            }, 100)
        },
        beforeRouteEnter(to, from, next) {

            let _this,
                urlParams = to.params;

            Util.auth(() => {

                /*function activeCallback (actRes) {

                    console.log(actRes);

                    if (actRes.status) {

                        window.location.href="http://www.luomi.shop/#/active/";
                    } else {
                        window.location.href="http://www.luomi.shop/#/active/" + urlParams.id + '/' + urlParams.lessonId;
                    }
                }*/

                Server.queryCourse(urlParams.id, urlParams.lessonId, urlParams.a_secret, urlParams.a_id).then(data => {

                    next(vm => {

                        _this = vm;

                        //标题
                        //_this.title = data.title;

                        //视频
                        let playVideo= _.find(data.lessons, item => item.id == urlParams.lessonId);
                        _this.currentVideo.poster = data.middle_pic;
                        _this.currentVideo.videoSrc = playVideo.media.file_path;
                        _this.goReadId = playVideo.repeat_id;
                        data.exercise && (_this.exerciseId = data.exercise.course_id);

                        //菜单
                        _this.videoList.menu = data.title;
                        _this.videoList.videoName = playVideo.title;
                        _this.videoList.select = urlParams.lessonId;
                        _this.title = playVideo.title;

                        let menuList = [];
                        _.forEach(data.lessons, item => {
                            menuList.push({
                                course_id: item.course_id,
                                id: item.id,
                                is_charge: item.is_charge,
                                media: item.media,
                                number: item.number,
                                repeat_id: item.repeat_id,
                                summary: item.summary,
                                thumbnail: item.thumbnail,
                                title: item.title,
                                viewed_num: item.viewed_num,
                                watch_time: item.watch_time,
                                watchPercent: item.watch_time / item.media.length
                            });
                        });
                        _this.videoList.items = menuList;

                        //存储当前播放的视频信息，用于上传播放进度
                        _this.history.courseId = urlParams.id;
                        _this.history.watchTime = playVideo.watch_time;
                        //_this.history.lessonId = urlParams.lessonId;
                        //
                        if (urlParams.id == '8' || urlParams.id == '9') {
                            _this.hasRepeat = true;
                        }
                    });
                });
            });
        },
        beforeRouteLeave(to, from, next) {
            //setTimeout(() => {
                player.dispose();
            //}, 2000);
            next(vm => {});
        },
        watch: {
            "btnStatus": function (status, oldStatus) {

                /*let _this = this;

                if (_this.history.courseId != '' && _this.history.lessonId != '' && _this.history.watchTime != '' && _this.history.watchTime) {

                    alert("按钮状态改变");

                    _this.saveHistoty();

                    if (status === 'play') {

                        t = setInterval(() => {

                            _this.saveHistoty();
                        }, 10000);
                    } else {

                        clearInterval(t);
                        _this.saveHistoty();
                    }
                }*/
            }
        },
        methods: {
            play () {

                if (this.btnStatus === "play") {

                    player.pause();
                    this.btnStatus = "pause";
                } else {
                    player.play();
                    this.btnStatus = "play";
                }
            },
            saveHistoty(callback) {
                let _this = this,
                    history = _this.history;

                //history.watchTime = parseInt(player.currentTime());
                //

                Server.uploadWatchHistory(history.courseId, history.lessonId, history.watchTime).then(data => {

                    //alert('观看记录保存成功');
                    // 记录保存完成，更新本地数据
                    _.forEach(_this.videoList.items, value => {

                        if (value.id == history.lessonId) {

                            value.watch_time = history.watchTime;

                            //alert("更新观看记录成功");

                            if (typeof callback !== 'undefined') {
                                callback();
                            }
                        }
                    });
                });
            },
            showMenu () {

                this.menu.active = true;
            },
            hideMenu () {

                this.menu.active = false;
            },
            selectVideo(id) {

                let _this = this,
                    playVideo= _.find(_this.videoList.items, item => item.id == id);

                _this.videoList.select = id;
                _this.goReadId = playVideo.repeat_id;
                _this.title = playVideo.title;


                if (!_this.history.lessonId) {
                    _this.history.lessonId = id;
                    player.src(playVideo.media.file_path);
                    //player.currentTime(playVideo.watch_time);
                    player.load();
                    //player.play();
                } else {
                    _this.saveHistoty(() => {
                        _this.history.lessonId = id;
                        _this.history.watchTime = playVideo.watch_time;

                        player.src(playVideo.media.file_path);
                        //player.currentTime(playVideo.watch_time);
                        //player.play();
                        player.load();
                    });
                }
            },
            test() {

                let _this = this;

                _this.$router.push({
                    name: 'Test',
                    params: {
                        id: _this.exerciseId
                    }
                });
            },
            goRead() {
                window.location.href="http://www.luomi.shop/#/read/" + this.goReadId;
            }
        }
    }
</script>

<style scoped>

    #play-page {
        width: 100%;
        /*position: fixed;*/
        background: #fff;
        overflow: hidden;
        /*padding-bottom: 100px;*/
    }

    #video-wrapper .play-btn {
        display: none;
    }

    #operate-wrapper {
        position: relative;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
        border-top: 420px solid #fff;
        border-bottom: 104px solid #fff;
    }
    #menu-list {
        -webkit-overflow-scrolling: touch;
        top: 0;
        left: -750px;
        background: #ffffff;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: left .5s cubic-bezier(.55, 0, .1, 1);

        &.active {

             left: 0;
        }

        h2 {
            height: 134px;
            line-height: 134px;
            font-size: 28px;
            color: #141414;
            padding: 0 155px 0 24px;
            position: relative;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 400%;
                height: 1px;
                border: 1px solid #cfcfcf;
                background: url("../assets/images/line.gif");
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(.3);
                transform-origin: left center;
            }

            span {
                display: block;
                width: 140px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 34px;
                    top: 50%;
                    margin-top: -10px;
                    width: 28px;
                    height: 16px;
                    background: url("../assets/images/arrow.png") no-repeat;
                    background-size: 28px 16px;
                    transform: rotate(90deg);
                }
            }
        }

        ul {
            padding: 0 24px 0px 24px;
        }
        li {
            font-size: 32px;
            font-family: "PingFangSC-Regular";
            color: #1E1E1E;;
            height: 96px;
            vertical-align: middle;
            font-weight: normal;
            position: relative;
            padding-left: 45px;
            line-height: 96px;

            > h5 {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 40px;
                text-align: center;
                line-height: 96px;
                height: 96px;
            }

            .cicle {
                right: 12px;
            }

            &.active {
                color: #2EA3F6;

                span {
                    background: url("../assets/images/play.gif") -30px center no-repeat;
                    background-size: 100px 100px;
                }
            }
        }
    }
    #play-operate {
        margin-top: 72px;
        display: -webkit-box;

        > div {
            width: 0;
            position: relative;
            text-align: center;
            height: 44px;
            line-height: 44px;
            -webkit-box-flex: 1;

            &:nth-of-type(1):after {
                content: '';
                display: block;
                width: 30px;
                height: 24px;
                background: url("../assets/images/icon-menu.png") center center no-repeat;
                background-size: 30px 24px;
                position: absolute;
                top: 50%;
                left: 85px;
                margin-top: -12px;

            }

            &:nth-of-type(2) {
                -webkit-box-flex: 4;
                font-size: 32px;
                color: #484848;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:nth-of-type(3):after {
                content: '';
                display: block;
                width: 32px;
                height: 36px;
                background: url("../assets/images/icon-test.png") center center no-repeat;
                background-size: 32px 36px;
                position: absolute;
                top: 50%;
                right: 85px;
                margin-top: -18px;

            }
        }
    }
   .play-btn {
       display: block;
       width: 202px;
       height: 202px;
       margin: 160px auto 0 auto;
       background: url("../assets/images/btn-play.png") center center no-repeat;
       background-size: 202px 202px;

       &.play-pause {
            background: url("../assets/images/btn-pause.png") center center no-repeat;
            background-size: 202px 202px;
       }
   }
   #read {
       width: 94px;
       height: 94px;
       background: url("../assets/images/fllow-read.gif") 0 0 no-repeat;
       background-size: 94px 94px;
       position: fixed;
       right: 44px;
       bottom: 144px;
   }
</style>
