<template>
    <div id="read-page">
        <div id="video-wrapper">
            <video autoplay controls x-webkit-airplay x-webkit-airplay="true" x5-video-player-type="h5" webkit-playsinline playsinline
                v-if="currentVideo.poster"
                id="read-player" class="video-js vjs-fluid"
                preload="auto"
                :poster="currentVideo.poster">
                <source :src="currentVideo.videoSrc" type="video/mp4"></source>
            </video>
            <span class="play-btn" @click="play" v-show="!isPlay"></span>
            <span class="record-gif" :class="{cancel: drag.isCancel}" v-show="drag.isRecord">{{drag.text}}</span>
        </div>
        <div id="read-list" @touchmove="move">
            <ul>
                <li v-for="(item, index) in readList">
                    <div class="read-header">
                        <span>{{(index + 1)}}/{{readList.length}}</span>
                        <div class="star-rating" v-show="item.rightPer != 0">
                            <div class="star-rating-top" :style="'width:' + item.rightPer + '%'">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                            </div>
                            <div class="star-rating-bottom">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                            </div>
                        </div>
                        <div class="get-score" v-show="item.btnStatus" @click="score(item.id)">专业评分</div>
                    </div>
                    <div class="read-content" @click="reading(item.id, item.currentTime, item.duration)">
                        <div :class="{holding: holdingId == item.id}">{{item.english}}</div>
                        <div>翻译：{{item.chinese}}</div>
                    </div>
                    <div class="read-opertate">
                        <span class="hold"
                            :id="item.id"
                            :class="{holding: holdingId == item.id}"
                            @touchend="stopRecord"
                            @touchstart.prevent="startRecord">长按说话</span>
                        <span class="record" :class="{active: item.id == audioPlayId}" @click="playRecord(item.record, item.id)" v-if="item.record">播放录音</span>
                    </div>
                </li>
            </ul>
            <audio src="http://static.luomi.shop/assets/di.wav" id="audio"></audio>
        </div>
    </div>
</template>

<script>

    import NavMenu from '@/components/commons/Nav';
    import Server from '../services/index';
    import {Util} from '../commons/util';
    import _ from 'lodash';

    let player,
        voiceUpload = false;

    export default {
        name: 'Play',
        data () {
            return {
                bodyHeight: "",
                title: "",
                currentVideo: {
                    poster: "",
                    videoSrc: ""
                },
                isPlay: false,
                currentLocalId: "", //当前的录音id
                currentId: "",//当前操作的跟读id
                duration: 0,
                readList: [],
                holdingId: "",
                audioPlayId: "",
                hasLoad: false,
                drag: {
                    isCancel: false,
                    isRecord: false,  //标记touchstart是否在录音按钮上
                    text: '手指上滑，取消发送',  //toast文本
                    startX: "",       //开始拖拽位置
                    currentX: "",     //当前拖拽位置
                    endX: "",         //结束拖拽位置
                    offset: 50        //开始和结束的阈值
                }
            }
        },
        components: {
            NavMenu
        },
        // 生命周期钩子
        mounted () {

            let _this = this;

            //_this.bodyHeight = document.documentElement.clientHeight + "px";

            setTimeout(() => {
                player = videojs('read-player', {
                    fluid: true,
                    autoplay: true,
                    playsinline: true
                    //nativeControlsForTouch: true,
                    //controls: true
                }, () => {

                    player.currentTime(_this.readList[0].currentTime);
                    _this.duration = _this.readList[0].duration;
                    player.play();
                });

                player.on("timeupdate", () => {

                    if (player.currentTime() >= _this.duration) {
                        player.pause();
                    }
                });

                player.on("play", function () {

                    _this.isPlay = true;
                });
                player.on("pause", function () {

                    _this.isPlay = false;
                });

                /*player.on("loadeddata", () => {
                    alert('初始化加载完成');
                    _this.hasLoad = true;
                    _this.duration = _this.readList[0].duration;
                    player.currentTime(_this.readList[0].currentTime);
                    player.play();
                });*/

            }, 800);

            Util.auth(() => {

                Server.queryWechatSDK().then(data => {
                    wx.config({
                        debug: false,
                        appId: data.appId,
                        timestamp: data.timestamp,
                        nonceStr: data.nonceStr,
                        signature: data.signature,
                        jsApiList: [
                            "startRecord",
                            "stopRecord",
                            "onVoiceRecordEnd",
                            "playVoice",
                            "uploadVoice"
                        ]
                    });
                    wx.error((res) => {
                        alert("微信接口配置失败");
                    });
                });
            });
        },
        methods: {

            //开始录音
            startRecord(event) {

                let _this = this,
                    id = event.target.id;

                _this.drag.isRecord = true;
                _this.drag.startX = event.touches[0].screenY;
                _this.currentId = id;
                _this.drag.isCancel = false;
                //_this.holdingId = id;

                //播放“滴”
                let audio = document.getElementById("audio");
                audio.src = "http://static.luomi.shop/assets/di.wav";
                audio.play();
                //开始录音
                wx.startRecord();
            },
            //停止录音
            stopRecord(event) {

                if (!this.drag.isRecord) {
                    return;
                }
                voiceUpload = true;

                let _this = this,
                    id = _this.currentId;

                _this.drag.endX = event.changedTouches[0].screenY;
                //_this.holdingId = "";
                _this.drag.isRecord = false;

                wx.stopRecord({
                    success: function (res) {

                        if (Math.abs(_this.drag.startX - _this.drag.endX) <= _this.drag.offset) {

                            _this.currentLocalId = res.localId;

                            _this.uploadRecord(id).then(data => {

                                //alert(JSON.stringify(data));

                                return data;
                            }).then(data => {
                                Server.saveRecord(data.id, data.serverId).then(d => {

                                    //alert("录音保存成功");

                                     _.forEach(_this.readList, value => {
                                        if (value.id == id) {
                                            value.learnId = d.id;
                                            value.record = d.audio_path;
                                            value.btnStatus = true;
                                            value.rightPer = 0;
                                        }
                                    });

                                     voiceUpload = false;
                                });
                            });
                        }
                    }
                });
            },
            move(event) {

                if (!this.drag.isRecord) {
                    return;
                }

                let _this = this,
                    id = _this.currentId;

                _this.drag.currentX = event.touches[0].screenY;

                if (Math.abs(_this.drag.startX - _this.drag.currentX) > _this.drag.offset) {

                    _this.drag.text = "松开手指，取消发送";
                    _this.drag.isCancel = true;
                } else {
                    _this.drag.text = "手指上滑，取消发送";
                    _this.drag.isCancel = false;
                }
            },
            //上传录音
            uploadRecord(id) {

                let _this = this;
                return new Promise((resolve, reject) => {
                    wx.uploadVoice({
                        localId: _this.currentLocalId,
                        success: function (res) {
                            resolve({
                                status: true,
                                id: id,
                                serverId: res.serverId
                            });
                        },
                        fail: function (err) {
                            reject(new Error(err));
                        }
                    });
                });
            },
            //获取评分
            score(id) {

                let _this = this,
                    cRecord= _.find(_this.readList, item => item.id == id);

                    //alert('获取评分中');


                Server.recordScore(cRecord.english, cRecord.learnId).then(data => {

                    //rightPer
                    _.forEach(_this.readList, value => {
                        if (value.id == id) {
                            value.rightPer = parseInt(data.score);
                            value.btnStatus = false;
                        }
                    });
                });
            },
            reading(id, currentTime, duration) {

                let _this = this;

                this.holdingId = id;
                this.duration = duration;
                if (this.hasLoad) {
                    //alert('已经加载');
                    player.currentTime(currentTime);
                    player.play();
                } else {
                    //alert('没有加载完成');
                    player.load();
                    player.on("loadeddata", () => {
                        //alert('刚加载完成');
                        _this.hasLoad = true;
                        player.currentTime(currentTime);
                        player.play();
                    });
                }
            },
            //播放录音
            playRecord(src, id) {

                if (voiceUpload) {
                    return;
                }

                let _this = this;

                _this.audioPlayId = id;
                let audio = document.getElementById("audio");
                audio.src = src;
                audio.play();

                audio.onended = function () {
                    _this.audioPlayId = "";
                }
            },
            play() {

                if (this.isPlay) {

                    player.pause();
                    this.isPlay = false;
                } else {
                    player.play();
                    this.isPlay = true;
                }
            }
        },
        beforeRouteEnter(to, from, next) {

            let _this,
                urlParams = to.params;

            Util.auth(() => {

                next(vm => {

                    _this = vm;

                    Server.queryRecordQuestion(to.params.id).then(data => {

                        if (!data) {
                            alert('无跟读数据');
                            return;
                        }

                        let recordList = [];

                        _this.currentVideo.videoSrc = data.media.file_path;
                        _this.currentVideo.poster = data.poster;

                        console.log('currentVideo', _this.currentVideo);

                        _.forEach(data.sentences, item => {

                            let videoPath = "",
                                rightPer = "",
                                learnId = "";

                            if (item.learns.length > 0 && item.learns[0].media) {

                                videoPath = !!item.learns[0].media ? item.learns[0].media.file_path : "";
                                rightPer = parseInt(item.learns[0].score);
                                learnId = item.learns[0].id;
                            }

                            recordList.push({
                                id: item.id,
                                learnId: learnId,
                                chinese: item.title_zh,
                                english: item.title_en,
                                record: videoPath,
                                rightPer: rightPer,
                                btnStatus: false,
                                currentTime: item.start,
                                hold: false,
                                duration: item.end
                            });
                        });
                        _this.readList = recordList;

                        //第一条默认高亮
                        _this.holdingId = _this.readList[0].id;
                    });
                });
            });
        },
        beforeRouteLeave(to, from, next) {
            //setTimeout(() => {
                player.dispose();
            //}, 2000);
            next(vm => {});
        }
    }
</script>

<style scoped>

    #read-page {
        width: 100%;
        background: #efeff4;
        padding-bottom: 88px;
    }

    #video-wrapper {

        .record-gif {
            position: absolute;
            width: 324px;
            height: 312px;
            line-height: 535px;
            z-index: 1000;
            top: 50%;
            left: 50%;
            margin-top: -156px;
            margin-left: -162px;
            background: hsla(0, 0%, 0%, .6);
            border-radius: 10px;
            color: #fff;
            text-align: center;
            font-size: 28px;
            &:before{
                content: '';
                display: block;
                width: 267px;
                height: 275px;
                top: 50%;
                left: 50%;
                margin-left: -135px;
                margin-top: -150px;
                position: absolute;
                background: url("../assets/images/record.gif") center top no-repeat;
                background-size: 267px 275px;
                transform: scale(.4);
            }
            &.cancel:before {
                content: '';
                display: block;
                width: 80px;
                height: 104px;
                top: 50%;
                left: 50%;
                margin-left: -40px;
                margin-top: -72px;
                position: absolute;
                background: url("../assets/images/cancel.png") center top no-repeat;
                background-size: 80px 104px;
                transform: scale(1);
            }
        }
    }

    #read-list {
        /*height: 100%;*/
        /*overflow-x: hidden;
        /*overflow-y: scroll;*/
        /*-webkit-overflow-scrolling: touch;*/
        border-top: 420px solid #fff;
        position: relative;
        box-sizing: border-box;

        ul {
            margin: 34px 26px;
            height: auto;
        }

        li {
            width: 100%;
            height: auto;
            border-radius: 16px;
            background: #fff;
            margin-bottom: 40px;
        }

        .read-header {
            padding: 0 46px;
            height: 108px;
            line-height: 108px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            > span {
                font-size: 24px;
                color: #646464;
                float: left;
            }
            > div {
                float: right;
            }
        }
        .read-content {
            font-family: "PingFangSC-Light";
            font-weight: normal;
            div {
                text-align: center;
                padding: 0 46px;
                &:nth-of-type(1) {
                    color: #282828;
                    font-size: 44px;
                    line-height: 56px;
                    /*padding-top: 40px;*/

                    &.holding {
                        color: #1063AF;
                    }
                }
                &:nth-of-type(2) {
                    font-size: 28px;
                    color: #646464;
                    margin-top: 20px;
                }
            }
        }
        .read-opertate {
            text-align: center;
            padding-top: 72px;
            font-weight: bold;
            font-family: "PingFangSC-Regular";
            padding-bottom: 50px;
            span {
                margin: 0 28px;
                color: #C5C5C5;
                &:before {
                    margin-bottom: 5px;
                    content: '';
                    display: block;
                    width: 120px;
                    height: 120px;
                    background: url("../assets/images/voice.png") 0 0 no-repeat;
                    background-size: 120px 120px;
                }
                &.record {
                    color: #47A8B4;
                }
                &.holding {
                    color: #29A1F4;
                }

                &.record:before {
                    background: url("../assets/images/voice-active.png") 0 0 no-repeat;
                    background-size: 120px 120px;
                }
                &.record.active:before {
                    background: url("../assets/images/voice-pause.png") 0 0 no-repeat;
                    background-size: 120px 120px;
                }
                &.holding:before {
                    background: url("../assets/images/voice-hold.png") 0 0 no-repeat;
                    background-size: 120px 120px;
                }

                display: inline-block;
                width: 120px;
                height: 120px;
                font-size: 20px;
            }
        }
    }
    .get-score {
        color: #0F6FC6;
        width: 108px;
        height: 44px;
        border-radius: 25px;
        border: 1px solid #0F6FC6;
        font-size: 22px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        right: 46px;
    }

    .star-rating {
        unicode-bidi: bidi-override;
        color: #ddd;
        font-size: 0;
        margin: 0 auto;
        position: relative;
        display: table;
        padding: 0;
    }

    .star-rating span {
        padding: 1px;
        font-size: 30px;
    }

    .star-rating-top {
        color: #FFD14F;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .star-rating-bottom {
        padding: 0;
        display: block;
        z-index: 0;
    }
</style>
