<template>
    <div id="result-page">
        <div id="res-banner" class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide" v-for="item in bannerList">
                    <img class="img-cover" :src="item.answerImg" alt="">
                    <span></span>
                </li>
            </ul>
        </div>
        <div id="result-wrapper">
            <span class="res-icon" :class="'icon_' + right"></span>
            <div class="result">
                <div class="res-star">
                    <div class="star-rating">
                        <div class="star-rating-top" :style="{width: rightPer}">
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                        </div>
                        <div class="star-rating-bottom">
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                            <span>★</span>
                        </div>
                    </div>
                </div>
                <p>您的单词测试结果</p>
                <h2>正确{{right}}题 错误{{error}}题</h2>
            </div>
            <div class="btn test-again" @click="again">不服来战</div>
            <div class="btn go-home" @click="home">回到首页</div>
        </div>
    </div>
</template>

<script>

    import Server from '../services/index';
    import {Util} from '../commons/util';
    export default {
        name: 'Index',
        data() {
            return {
                right: "",
                error: "",
                rightPer: "0",
                bannerList: []
            }
        },
        methods: {

            again () {
                window.location.href = "http://www.luomi.shop/#/test/" + this.$route.params.id;
            },
            home () {
                window.location.href = "http://www.luomi.shop/#/index";
            }
        },
        mounted() {

            let _this = this;

            this.right = window.localStorage.answerRight;
            this.error = window.localStorage.totalSub - this.right;
            this.rightPer = this.right / (this.right * 1 + this.error * 1) * 100 + "%";
            this.bannerList = JSON.parse(window.localStorage.questions);

            this.$nextTick(() => {
                let bannerSwiper = new Swiper ('#res-banner', {
                    loop: true,
                    autoplayDisableOnInteraction: false,
                    autoplay: 2000
                });
            });

            Util.auth(() => {

                let uploadPromise = Server.uploadExerciseResult(_this.$route.params.id, _this.rightPer),
                    queryWechatPromise = Server.queryWechatSDK();

                Promise.all([uploadPromise, queryWechatPromise]).then(([userData, wData]) => {

                    wx.config({
                        debug: false,
                        appId: wData.appId,
                        timestamp: wData.timestamp,
                        nonceStr: wData.nonceStr,
                        signature: wData.signature,
                        jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"]
                    });
                    wx.ready(() => {

                        wx.onMenuShareTimeline({
                            title: '洛米教育',
                            link: 'http://www.luomi.shop/#/share/' + userData.user_id + '/' + _this.$route.params.id,
                            imgUrl: 'http://static.luomi.shop/assets/share-icon.png',
                            success: function () {
                            },
                            cancel: function () {
                            }
                        });
                        wx.onMenuShareAppMessage({
                            title: '洛米教育',
                            desc: '洛米教育',
                            link: 'http://www.luomi.shop/#/share/' + userData.user_id + '/' + _this.$route.params.id,
                            imgUrl: 'http://static.luomi.shop/assets/share-icon.png',
                            type: '',
                            dataUrl: '',
                            success: function () {
                            },
                            cancel: function () {
                            }
                        });
                        wx.error((res) => {
                            alert("微信接口配置失败");
                        });
                    });
                });
            });
        }
    }
</script>

<style scoped>
    #result-page {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #fff;
        overflow: hidden;
    }

    #res-banner {
        width: 100%;
        height: 380px;

        ul {

            li {
                display: block;
                float: left;
                width: 750px;
                position: relative;
                height: 380px;
            }
        }
    }

    #result-wrapper {
        border: 1px solid transparent;
        position: relative;
        height: calc(100% - 380px);

        .res-icon {
            display: block;
            width: 366px;
            height: 344px;
            position: absolute;
            left: 50%;
            margin-left: -183px;
            top: -172px;
            z-index: 1;

            &.icon_0, &.icon_1 {
                background: url("../assets/images/res_0.png") 0 0 no-repeat;
                background-size: 366px 344px;
            }
            &.icon_2 {
                background: url("../assets/images/res_1.png") 0 0 no-repeat;
                background-size: 366px 344px;
            }
            &.icon_3 {
                background: url("../assets/images/res_2.png") 0 0 no-repeat;
                background-size: 366px 344px;
            }
            &.icon_4 {
                background: url("../assets/images/res_3.png") 0 0 no-repeat;
                background-size: 366px 344px;
            }
            &.icon_5 {
                background: url("../assets/images/res_4.png") 0 0 no-repeat;
                background-size: 366px 344px;
            }
        }

         .result {
            margin-top: 160px;

             h2 {
                 font-size: 56px;
                 color: #444;
                 font-weight: normal;
                 text-align: center;
                 margin-bottom: 22px;
             }

             p {
                margin-top: 51px;
                font-size: 32px;
                font-weight: normal;
                color: #9B9B9B;
                text-align: center;
             }

             .res-star {
                 width: 50%;
                 height: 54px;
                 line-height: 54px;
                 margin: 0 auto 30px auto;
             }
         }
    }

    #wechat-share {
        border-top: 1px solid #E1E1E1;
        height: auto;
        overflow: hidden;
        margin: 100px 36px 0 36px;
        padding: 45px 178px 0 178px;

        span {
            display: block;
            float: left;
            font-size: 24px;
            color: #333333;
            text-align: center;

            &:nth-last-of-type(1) {
                float: right;

                &:before {
                    display: block;
                    content: '';
                    width: 94px;
                    height: 94px;
                    background: url("../assets/images/quan.png");
                    background-size: 94px 94px;
                }
            }

            &:before {
                display: block;
                content: '';
                width: 94px;
                height: 94px;
                background: url("../assets/images/wechat.png");
                background-size: 94px 94px;
            }
        }
    }

    .btn {
        display: block;
        width: 700px;
        height: 96px;
        line-height: 96px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        left: 50%;
        margin-left: -350px;
        font-size: 32px;
        color: #FFFFFF;
        border: 1px solid #E4E4E4;
        font-weight: normal;

        &.go-home{
            background: #259FF3;
            bottom: 34px;
        }
        &.test-again {
            background: #F8F8F8;
            bottom: 150px;
            color: #646464;
        }
    }

    .star-rating {
        unicode-bidi: bidi-override;
        color: #e8e8e8;
        font-size: 0;
        height: 54px;
        margin: 0 auto;
        position: relative;
        display: table;
        padding: 0;
    }

    .star-rating span {
        padding: 3px;
        font-size: 46px;
    }

    .star-rating-top {
        color: #FFD14F;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .star-rating-bottom {
        padding: 0;
        display: block;
        z-index: 0;
    }

</style>
