<template>
    <div id="share-page">
        <div class="share-content">
            <div class="user-pic">
                <img class="img-cover" :src="avatar" alt="">
            </div>
            <h2 class="user-name">{{nick}}</h2>
            <!-- <span class="user-des">{{nick}}</span> -->
            <div id="honor">
                <h3>我在洛米教育通过测试</h3>
                <div>获得"{{title}}"称号</div>
            </div>
            <div id="more-right">
                <h3>在这里你可以获得</h3>
                <ul>
                    <li>1、精选启蒙英语原声动画片</li>
                    <li>2、APP全程趣味“跟读”</li>
                    <li>3、配套线下卡片 涂色学单词</li>
                </ul>
            </div>
            <div id="qrcode">
                <img class="img-cover" src="../assets/images/qrcode.png" alt="">
                长按识别二维码，添加关注
            </div>
        </div>
    </div>
</template>

<script>

    import Server from '../services/index';
    //import authorization from "../commons/authorization";

    export default {
        name: 'Share',
        data() {
            return {
                avatar: "",
                name: "",
                nick: "",
                title: ""
            }
        },
        methods: {

        },
        beforeRouteEnter(to, from, next) {

            let urlParams = to.params;

            Server.queryShare(urlParams.userId, urlParams.exerciseId).then(data => {
                next(vm => {

                    console.log(data);

                    let _this = vm,
                        title = data.result_rank * 1;

                   _this.name = data.user_name;
                   _this.nick = data.nick_name;
                   _this.avatar = data.avatar;

                   if (title <= 0.2) {
                        _this.title = "懵懂";
                   } else if (title <= 0.4) {
                        _this.title = "初识";
                   } else if (title <= 0.6) {
                        _this.title = "超神";
                   } else if (title <= 0.8) {
                        _this.title = "词霸";
                   } else {
                        _this.title = "词王";
                   }
                });
            });
        },
    }
</script>

<style scoped>
    #share-page {
        width: 100%;
        position: relative;
        overflow: hidden;
        background: #0F6FC6;
    }
    .share-content {
        border: 1px solid transparent;
        position: relative;
        background: #fff;
        border-radius: 10px;
        margin: 166px 26px 10px 26px;
        padding-bottom: 66px;

        .user-pic {
            position: absolute;
            left: 50%;
            margin-left: -70px;
            margin-top: -70px;
            border-radius: 50%;
            overflow: hidden;
            width: 140px;
            height: 140px;
        }
        .user-name {
            margin-top: 84px;
            font-size: 32px;
            color: #484848;
            display: block;
            width: 100%;
            text-align: center;
        }
        .user-des {
            margin-top: 4px;
            font-size: 24px;
            color: #6D6D6D;
            width: 100%;
            text-align: center;
            display: block;
        }

        #honor {
            margin: 0 68px;
            border-bottom: 1px dashed #c2c2c2;
            padding-top: 70px;
            padding-bottom: 32px;
            color: #0F6FC6;
            text-align: center;

            h3 {
                font-weight: lighter;
                font-size: 36px;
            }

            > div {
                font-size: 72px;
                font-weight: bold;
            }
        }
        #more-right {
            margin: 40px 82px 44px 82px;
            font-size: 32px;
            color: #6A6A6A;
            line-height: 2;

            h3 {
                font-weight: lighter;

                &:before {
                    margin-right: 22px;
                    content: '';
                    display: inline-block;
                    background: url("../assets/images/loca.png") no-repeat;
                    width: 20px;
                    height: 24px;
                    background-size: 20px 24px;
                }
            }
        }
        #qrcode {
            width: 468px;
            margin: 0 auto;
            font-size: 28px;
            text-align: center;
            color: #9B9B9B;

            img {
                width: 468px;
                height: 468px;
                display: block;
                overflow: hidden;
            }
        }
    }
</style>
