<template>
    <div id="test-page">
        <div id="test-wrapper">
            <div class="test-header" @click="homeGo">{{current}}/{{totalSub}}</div>
            <div class="test-swiper swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" v-for="item in subject">
                        <div class="item-list">
                            <img :src="item.imgSrc" alt="">
                            <div v-for="(ops, idx) in item.items"
                                 :class="{right: item.selectId === idx && item.selectId == item.correctId, error: item.selectId === idx && item.selectId != item.correctId}"
                                 @click="selectOps(idx, item.id)">{{ops}}</div>
                            <!--<div @click="selectOps('null', item.id)"
                                 :class="{active: item.selectId === 'null'}">不知道</div>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    import Server from '../services/index';
    import {Util} from '../commons/util';

    import _ from 'lodash';

    let testSwiper;

    export default {
        name: 'Index',
        data() {
            return {
                isEnd: false,
                current: "1",
                totalSub: "",
                subject: [],
                id: ''
            }
        },
        methods: {

            selectOps(opsIdx, itemId) {

                let _this = this;

                _.map(_this.subject, item => {

                    if ( item.id == itemId) {

                        item.selectId = opsIdx;
                    }
                });

                setTimeout(() => {

                    if (_this.isEnd) {

                        let answer = _.filter(_this.subject, item => {

                            return (item.selectId !== "" && item.selectId == item.correctId);
                        });
                        window.localStorage.questions = JSON.stringify(_this.subject);
                        window.localStorage.totalSub = _this.totalSub;
                        window.localStorage.answerRight = answer.length;

                        _this.$router.push({
                            name: 'Result',
                            params: {
                                id: _this.id
                            }
                        });
                    } else {

                        testSwiper.slideNext();
                    }
                }, 500);
            },
            homeGo() {
                this.$router.push({
                    name: 'Index',
                    params: {}
                });
            }
        },
        mounted() {

            let _this = this;

            _this.totalSub = _this.subject.length;

            setTimeout(() => {

                testSwiper = new Swiper ('.test-swiper', {

                    onSlideChangeEnd: function(swiper){

                        _this.current = 1 + swiper.activeIndex;
                        _this.isEnd = swiper.isEnd;
                    },
                    onlyExternal: true
                });

            }, 200);
        },
        beforeRouteEnter(to, from, next) {

            let urlParams = to.params;

            Util.auth(() => {

                Server.queryExercise(urlParams.id).then(data => {

                    next(vm => {

                        let _this = vm,
                            subject = [];

                        _.forEach(data.questions, (value, index) => {

                            subject.push({
                                id: value.id,
                                imgSrc: value.img,
                                correctId: value.answer,
                                selectId: "",
                                items: value.choices,
                                answerImg: value.answer_img
                            })

                        });
                       _this.isEnd = subject.length === 1;
                       _this.totalSub = subject.length;
                       _this.subject = subject;
                       _this.id = data.id;
                    });
                });
            });
        },
    }
</script>

<style scoped>
    #test-page {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image:linear-gradient(150deg, #5230D8, #69DBC7);
    }

    #test-wrapper {
        margin-top: 46px;

        .test-header {
            width: 100%;
            text-align: center;
            font-family: "HelveticaNeue-Light";
            font-weight: normal;
            font-size: 44px;
            margin-bottom: 40px;
            color: #FFFFFF;
            position: relative;

            &:before {
                display: block;
                content: '';
                width: 38px;
                height: 36px;
                position: absolute;
                top: 50%;
                margin-top: -18px;
                left: 60px;
                background: url("../assets/images/back.png") 0 0 no-repeat;
                background-size: 38px 36px;

            }
        }

        .test-swiper {
            width: 100%;
            height: 900px;
            position: relative;
        }

        /*ul {
            position: absolute;
            top: 0;
            left: 0;
            !*margin: 0 36px;*!
            height: auto;
            transition: left .5s cubic-bezier(.55, 0, .1, 1);
            overflow: hidden;
            width: 500%;
        }*/

        li {
            width: 750px;
            box-sizing: border-box;
            overflow: hidden;
            float: left;

            div.item-list {
                overflow: hidden;
                background: #fff;
                border-radius: 15px;
                margin: 0 36px;

                img {
                    border-radius: 15px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    width: 100%;
                    height: 360px;
                    display: block;
                }

                div {
                    height: 128px;
                    line-height: 128px;
                    font-size: 40px;
                    text-align: center;
                    border-bottom: 1px solid #F0F0F0;
                    color: #5c5c5c;

                    &:nth-last-of-type(1) {

                        border-bottom: none;
                    }

                    &.right {
                        background: #49B9A7;
                        color: #ffffff;
                    }
                    &.error {
                        background: #f4686d;
                        color: #ffffff;
                    }
                }
            }
        }
    }

</style>
