<template>
    <div class="cicle">
        <div class="bar bar-left">
            <div class="bar-left-an"
                :style="'-webkit-transform: rotate(' + leftDeg + 'deg)'"></div>
        </div>
        <div class="bar bar-right">
            <div class="bar-right-an"
                :style="'-webkit-transform: rotate(' + rightDeg + 'deg)'"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Circle',
        props: {
            percent: {
                type: Number
            }
        },
        data() {
            return {
                leftDeg: -135,
                rightDeg: -135
            }
        },
        mounted() {

            let _this = this,
                deg = 360 * _this.percent;
                console.log('!!!!!', deg);
            if (deg <= 180) {

                _this.rightDeg += deg;

            } else {
                _this.rightDeg = 45;
                _this.leftDeg += (deg - 180);
            }
        },
        methods: {

        },
    }
</script>

<style scoped>
    .cicle {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -19px;
        border: 4px solid #efefef;
        border-radius: 50%;
    }
    .cicle .bar {
        overflow: hidden;
        position: absolute;
        width: 19px;
        height: 38px;
        box-sizing: border-box;
    }
    .cicle .bar-left {
        top: -4px;
        left: -4px;
    }
    .cicle .bar-right {
        top: -4px;
        left: 16px;
    }
    .cicle .bar-left .bar-left-an{
        position: absolute;
        z-index: 10;
        width: 30px;
        height: 30px;
        border-width: 4px;
        border-color: transparent transparent #2EA3F6 #2EA3F6;
        border-style: solid;
        border-radius: 50%;
        /*transform: rotate(-135deg);*/
    }
    .cicle .bar-right .bar-right-an {
        position: absolute;
        left: -20px;
        z-index: 20;
        width: 30px;
        height: 30px;
        border-width: 4px;
        border-color: #2EA3F6 #2EA3F6 transparent transparent;
        border-style: solid;
        border-radius: 50%;
        /*transform: rotate(-135deg);*/
    }
</style>
