<template>
    <div id="nav">
        <ul>
            <li @click="Go('index')" :class='{active: current === "index"}'><span>首页</span></li>
            <li @click="Go('play')" :class='{active: current === "play"}'><span>动画</span></li>
            <li @click="Go('me')" :class='{active: current === "me"}'><span>我的</span></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'NavMenu',
        props: {
            current: {
                type: String
            }
        },
        data() {
            return {}
        },
        methods: {

            Go(name) {

                if (name === "index") {
                    this.$router.push({
                        name: 'Index',
                        params: {}
                    });
                } else if (name === "play") {
                    this.$router.push({
                        name: 'Play',
                        params: {
                            id: 8,
                            lessonId: 99
                        }
                    });
                } else {
                    this.$router.push({
                        name: 'Me',
                        params: {}
                    });
                }
            }
        },
    }
</script>

<style scoped>
    #nav {
        width: 100%;
        position: fixed;
        box-sizing: border-box;
        padding-top: 16px;
        left: 0;
        bottom: 0;
        z-index: 9999;
        background: #FCFCFC;
        height: 98px;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: url("../../assets/images/line.gif") 0 top repeat-x;
        }

        ul {
            display: -webkit-box;
            height: 100%;
            width: 100%;
            li {
                width: 0;
                font-weight: bold;
                text-align: center;
                -webkit-box-flex: 1;
                font-size: 18px;
                color: #6C6C6C;

                span {
                    display: block;
                }

                &:nth-of-type(1):before {
                    display: inline-block;
                    width: 42px;
                    height: 42px;
                    content: '';
                    background: url("../../assets/images/home.png") 0 0 no-repeat;
                    background-size: 42px 42px;
                };
                &:nth-of-type(2):before {
                    display: inline-block;
                    width: 38px;
                    height: 44px;
                    content: '';
                    background: url("../../assets/images/ani.png") 0 0 no-repeat;
                    background-size: 38px 44px;
                };
                &:nth-of-type(3):before {
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    content: '';
                    background: url("../../assets/images/me.png") 0 0 no-repeat;
                    background-size: 38px 38px;
                };

                &.active {

                    color: #55a4df;
                    &:nth-of-type(1):before {
                        display: inline-block;
                        width: 42px;
                        height: 42px;
                        content: '';
                        background: url("../../assets/images/home-active.png") 0 0 no-repeat;
                        background-size: 42px 42px;
                    };
                    &:nth-of-type(2):before {
                        display: inline-block;
                        width: 38px;
                        height: 44px;
                        content: '';
                        background: url("../../assets/images/ani-active.png") 0 0 no-repeat;
                        background-size: 38px 44px;
                    };
                    &:nth-of-type(3):before {
                        display: inline-block;
                        width: 38px;
                        height: 38px;
                        content: '';
                        background: url("../../assets/images/me-active.png") 0 0 no-repeat;
                        background-size: 38px 38px;
                    };
                }
            }
        }
    }
</style>
