<template>
    <div id="app" :style="{'min-height': bodyHeight}">
        <transition name="fade">
            <router-view class="transition"></router-view>
        </transition>
    </div>
</template>

<script>
    import Swiper from "./assets/js/swiper.custom";
    export default {
        name: 'app',
        data() {
            return {
                bodyHeight: ''
            }
        },
        mounted() {

            this.bodyHeight = document.documentElement.clientHeight + "px";
        },
    }
</script>

<style>
    @import "./assets/css/common.css";
    @import "./assets/css/top-loading.css";
    @import "./assets/css/swiper.custom.css";

    html, body, #app {
        width: 100%;
        /*height: 100%;*/
        background: #F6F5FA;
        /*overflow: hidden;*/
        font-family: "PingFangSC-Regular";
    }

    #app {
        max-width: 750px;
        /*min-height: 1000px;*/
        margin: 0 auto;
        position: relative;
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-leave-to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    .fade-enter-active, .fade-leave-active{
        position: absolute;
        top: 0;
        left: 0;
    }
    .transition {
        transition: all .6s cubic-bezier(.55, 0, .1, 1);
    }

    #app .video-js .vjs-big-play-button {

        display: none;
    }

    #app .video-js .vjs-control-bar {
        height: 4em;
    }
    #app .video-js .vjs-control:before {
        font-size: 3em;
        line-height: 1em;
        display: block;
        height: 1em;
        line-height: 1em;
        position: absolute;
        top: 50%;
        margin-top: -.5em;
    }
    #app .vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control:before,
    #app .vjs-remaining-time {
        display: block;
        height: 1em;
        line-height: 1em;
        position: relative;
        top: 50%;
        font-size: 3em;
        margin-top: -.5em;
    }
    #app .video-js .vjs-current-time, .vjs-no-flex .vjs-current-time {
        display: none;
    }
    #app .video-js .vjs-menu-button-inline:before {
        text-align: left;
    }
    #app .video-js .vjs-time-control {
        font-size: 30px;
        line-height: 1em;
        height: 1em;
        position: relative;
        top: 50%;
        margin-top: -0.5em;
        display: block;
    }

    #app .video-js .vjs-duration, .vjs-no-flex .vjs-duration,
    #app .video-js .vjs-current-time, .vjs-no-flex .vjs-current-time,
    #app .vjs-time-divider,
    #app .video-js .vjs-duration, .vjs-no-flex .vjs-duration {
        display: none;
        color: transparent;
    }
    #video-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 420px;
        z-index: 100;
        overflow: hidden;
        background: #2B333F;

        .play-btn {
           position: absolute;
           z-index: 100;
           display: block;
           width: 134px;
           height: 134px;
           top: 50%;
           left: 50%;
           margin-top: -67px;
           margin-left: -67px;
           background: url("./assets/images/play-btn.png") center center no-repeat;
           background-size: 134px 134px;
       }
    }

    video::-webkit-media-controls,
    video::-webkit-media-controls-panel,
    video::-webkit-media-controls-panel-container,
    video::-webkit-media-controls-play-button,
    video::-webkit-media-controls-volume-slider-container,
    video::-webkit-media-controls-volume-slider,
    video::-webkit-media-controls-mute-button,
    video::-webkit-media-controls-timeline,
    video::-webkit-media-controls-current-time-display,
    video::-webkit-full-page-media::-webkit-media-controls-panel,
    video::-webkit-media-controls-timeline-container,
    video::-webkit-media-controls-time-remaining-display,
    video::-webkit-media-controls-seek-back-button,
    video::-webkit-media-controls-seek-forward-button,
    video::-webkit-media-controls-fullscreen-button,
    video::-webkit-media-controls-rewind-button,
    video::-webkit-media-controls-return-to-realtime-button,
    video::-webkit-media-controls-toggle-closed-captions-button,
    video::-webkit-media-controls-start-playback-button {
        display: none !important;
        -webkit-appearance: none;
    }
    video {
        object-fit:fill;
    }
</style>
